<div class="form-container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <!-- fullname -->
    <div class="mb-3">
      <label for="FullName" class="form-label">FullName</label>
      <input
        type="text"
        class="form-control"
        name="FullName"
        id="FullName"
        aria-describedby="helpId"
        placeholder="(minimum 3 characters)"
        [(ngModel)]="checkout.fullName"
        ngModel
        minlength="3"
        #name = ngModel
        (ngModelChange)="nameChanged($event)"
      />
      <div
        class="alert alert-danger mt-2 mb-2"
        *ngIf="isfullNameInvalid"
      >
        full name must be more than 3 chars
      </div>
    </div>
    <!-- address -->
    <div class="mb-3">
      <label for="Address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        name="Address"
        id="Address"
        aria-describedby="helpId"
        placeholder="(minimum 6 characters)"
        ngModel
        [(ngModel)]="checkout.address"
        (ngModelChange)="addressChange($event)"
        #address = ngModel
        minlength="6"
      />
      <div
        class="alert alert-danger mt-2 mb-2"
        *ngIf="isaddressInvalid"
      >
        email address must be more than 6 chars
      </div>
    </div>
    <!-- creditNumber -->
    <div class="mb-3">
      <label for="CreditNumber" class="form-label">Credit Number</label>
      <input
        pattern="^[0-9]*$"
        type="text"
        class="form-control"
        name="CreditNumber"
        id="CreditNumber"
        aria-describedby="helpId"
        placeholder="(16-digit number)"
        [(ngModel)]="checkout.creditCardNumber"
        ngModel
        minlength="16"
        maxlength="16"
        (ngModelChange)="creditCardEntryChange($event)"
        #credit = ngModel
      />
      <div
        class="alert alert-danger mt-2 mb-2"
        *ngIf="
        iscreditCardNumberInvalid || iscreditCardNumber
        "
      >
        you should provide only digits and not less than 16 digits
      </div>
      <small id="helpId" class="form-text text-muted"
        >we'll never share your payment detials with anyone else .</small
      >
    </div>
    <!--submit-->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="
        !form.valid || name.pristine || address.pristine || credit.pristine || iscreditCardNumberInvalid || isaddressInvalid || isfullNameInvalid || iscreditCardNumber
      "
    >
      Submit
    </button>
  </form>
</div>
