<div class="row">
  <div class="col-3">
    <div class="card">
      <img class="card-img-top" [src]="product?.url" [alt]="product?.name" />
    </div>
  </div>
  <div class="col">
    <div class="container">
      <h4>
        <strong>{{ product?.name }}</strong>
      </h4>
      <h6>{{ product?.price }}</h6>
      <h6 class="d-flex flex-row align-items-center">
        <div>Amount</div>
        <div class="border w-25 text-center mx-2">
          <strong>{{ product?.quantity }}</strong>
        </div>
      </h6>
    </div>
    <div class="container">
      <button type="button" class="btn btn-danger" (click)="emitProductOnRemove(product!)">Remove</button>
    </div>
  </div>
</div>
