<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex align-items-center">
        <div class="card text-white h-75">
          <img
            class="card-img-top h-100 img-fit-util"
            [src]="product?.url"
            [alt]="product?.name"
          />
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <div class="container w-100 d-flex flex-column justify-content-center">
          <h4>{{ product?.name }}</h4>
          <h6>${{ product?.price }}</h6>
          <h6>${{ product?.description }}</h6>
          <app-product-quantity
            class="w-25 mt-2"
            [product]="product"
          ></app-product-quantity>
          <div class="w-25 mt-2">
            <button
              type="button"
              name=""
              id=""
              class="btn btn-primary"
              (click)="addToCard(product!)"
            >
              Add To Card
            </button>
          </div>
          <strong class="text-primary mt-2"
            ><a class="fix-ancor-tags" [routerLink]="['/products']"
              ><small
                ><i class="fa fa-arrow-left" aria-hidden="true"></i
              ></small>
              back to Product list</a
            ></strong
          >
        </div>
      </div>
    </div>
  </div>
</div>
